h3{
    color: blue;
}
h1,h2{
    color: darkblue;
    background-color: lightcyan;
}
.estilo1{
    border-color: powderblue;
    border-style: dotted;
    padding: 30px;
}
.left{
    background-color: #2196f3;
    padding: 20px;
    float: left;
    width: 20%;
}
.main{
    background-color: #f1f1f1;
    padding: 20px;
    float: left;
    width: 50%;
}
.right{
    background-color: #04aa6d;
    padding: 20px;
    float: left;
    width: 20%;
}
@media screen and (max-width:800px) {
    .left,.main,.right{
        width: 100%;
    }
    
}


/* The @media rule is used in media queries to apply different styles for different media types/devices.

Media queries can be used to check many things, such as:

width and height of the viewport
width and height of the device
orientation (is the tablet/phone in landscape or portrait mode?)
resolution
Using media queries are a popular technique for delivering a tailored style sheet (responsive web design) to desktops, laptops, tablets, and mobile phones */